div[name="vuive"] {
    $myHeight: 686px;
    $myWidth: 868px;
    $myFontSize: 18px;

    $h123color: pink;

    h6, h5, h4 {
        margin: {
            left: calc($myWidth / 2.7);
        }
    }

    h1, h2, h3 {
        margin: {
            left: calc($myWidth / 2.7);
        }
        color: $h123color;
        text: {
            transform: uppercase;
            overflow: hidden;
        }
    }
}