$myFont: Helvetica, sans-serif;
$myColor: lightgreen;
$myBackgroundColor: blue;

div[name="vuive"] {
    $myHeight: 686px;
    $myWidth: 868px;
    $myFontSize: 18px;

    font-family: $myFont;
    font-size: $myFontSize;
    height: $myHeight;
    width: $myWidth;

    color: $myColor;
    background-color: $myBackgroundColor;

    margin: auto;
}